<div id="content">
    <div class="row">
    <div class="col-sm-12">
       <div class="well">
          <div sa-widget color="darken">
             <header>
                <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                <h2>Usuário<span></span></h2>
             </header>
             <div class="row">
                <a class="btn btn-default pull-right" *ngIf="permissoesService.validaPermissoes(['incluir-usuario'])" [routerLink]="['/autor/novo-autor']" [routerLink]="['/usuario/novo-usuario']"><i class="fa fa-plus-square"></i> Novo</a>
                <br><br><br>
                <p-table #dt [columns]="cols" [value]="Iusuario" [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                   <div style="text-align: right">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" placeholder="Pesquisar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                   </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                   <tr class="ui-p-1 txt-center">
                      <th *ngFor="let col of columns;let i = index"
                      [pSortableColumn]="col.field"
                      [pSortableColumnDisabled]="!col.sortable ? true : false"
                      [attr.colspan]="i == 4?columns.length:''"
                      [ngClass]="col.class"
                      [style.width]="col.width"
                      >
                      {{col.header}}
                      <ng-container *ngIf="col.sortable">
                         <p-sortIcon [field]="col.field"></p-sortIcon>
                      </ng-container>
                      </th>
                   </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario let-columns="columns">
                   <tr style="text-align: center">
                      <td>{{usuario.name }}</td>
                      <td>{{usuario.email }}</td>
                      <td>{{usuario.grupos_usuarios.descricao }}</td>
                      <td *ngIf="(this.permissoesService.validaPermissoes(['excluir-usuario'])) || (this.permissoesService.validaPermissoes(['editar-usuario']))">
                         <a  class="btn-sm btn-primary" *ngIf="permissoesService.validaPermissoes(['editar-usuario'])" style="margin: 5px;" [routerLink]="['/usuario',usuario.id]" tooltip="Editar Autor"><i aria-hidden="true" class="fa fa-pencil"></i></a>
                         <a  class="btn-sm btn-danger" *ngIf="permissoesService.validaPermissoes(['excluir-usuario'])" (click)="deletar(usuario.id)" tooltip="Excluir Usuário" ><i aria-hidden="true" class="fa fa-trash"></i></a>
                      </td>
                   </tr>
                </ng-template>
                </p-table>
                <br><br>
             </div>
          </div>
       </div>
    </div>